{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="text-center">Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {
        attr: {
            novalidate: 'novalidate'
        }
    }) }}
    <div class="row">
    <div class="col-6">{{ form_row(registrationForm.nom) }}</div>
    <div class="col-6">{{ form_row(registrationForm.prenom) }}</div>
    <div class="col-6">{{ form_row(registrationForm.pseudo) }}</div>
    <div class="col-6">{{ form_row(registrationForm.civilite) }}</div>
    <div class="col-6">{{ form_row(registrationForm.email) }}</div>
    <div class="col-6">{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}</div>            
    </div>

        <button type="submit" class="btn">Valider</button>
    {{ form_end(registrationForm) }}
{% endblock %}
